.about-us-card-image {
  -webkit-box-reflect: below 5px
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about-us {
  padding-top: 100px;
}
.description {
  display: inline-block;
  margin: auto;
  text-align: justify;
  color: var(--platinum);
  padding: 0 30px;
  width: 300px;
  justify-content: center;
  height: 400px;
  background-color: var(--black);
}
.description h3 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 28px;
}
