:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --imperial-red: #ef233cff;
  --amaranth-red: #d90429ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
}

.favourites-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
}

.favourite-movie-card {
  width: 18rem;
  margin: 20px;
}

.favourite-movie-info {
  text-align: center;
  color: var(--platinum);
  letter-spacing: 2px;
}

.movie-title {
  min-height: 80px;
  margin-top: 10px;
}
