:root {
  /* --variable-name: variableValue; */
  /* background-color: var(--oxford-blue) */

  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --imperial-red: #ef233cff;
  --amaranth-red: #d90429ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
}

main {
  background-color: var(--black);
  height: 100vh;
}

/* navbar style - start here */

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url(../images/photo-1536440136628-849c177e76a1.jpg);
  max-width: 100%;
  height: auto;
  background-position: center;
}

.navbar {
  background-color: var(--black);
  color: var(--platinum);
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  height: 65px;
  padding-right: 40px;
  padding-bottom: 40px;
}
.navbar-menu {
  background-color: var(--black);
}
.navbar-menu .navbar-item {
  color: var(--platinum);
  font-size: 24px;
}
a.navbar-item:hover {
  background-color: transparent;
  color: var(--platinum);
}
.logo {
  color: var(--platinum);
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 40px;
}

span {
  color: var(--amaranth-red);
}

/* Movie search results styling rules */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

body,
html {
  background: #000000;
  padding: 0;
  margin: 0;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.container {
  padding-bottom: 3rem;
}
img {
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.container img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.last {
  margin-top: 6.5rem;
}
.featured_wrapper {
  position: relative;
}
.featured_wrapper img {
  width: 100%;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}
.title_wrapper {
  position: absolute;
  width: 100%;
  left: 2rem;
  bottom: 2rem;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.title_wrapper h1 {
  width: 70%;
}
button {
  background: #f40612 !important;
  color: #fff !important;
  font-size: 18px;
  padding: 0.5rem 3rem;
  outline: none;
  border: 0 !important;
}

/* footer */

.footer-container {
  margin: auto;
  padding: 1rem 2rem;
  background-color: var(--black);
  border-top: solid 3px var(--amaranth-red);
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-ul li {
  list-style: none;
}

.footer-col {
  width: 35%;
  padding: 0 10px;
}

.footer-col h4 {
  font-size: 20px;
  color: var(--platinum);
  margin-bottom: 10px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li a {
  font-size: 16px;
  color: var(--platinum);
  text-decoration: none;
  font-weight: 300;
  color: var(--platinum);
  display: block;
}

.footer-col ul li a:hover {
  color: var(--amaranth-red);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .title_wrapper {
    text-align: center;
    left: 0;
  }
  .title_wrapper h1 {
    font-size: 32px !important;
    width: 100%;
  }
  .container {
    padding: 10px;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 10px;
  }
}
@media (max-width: 480px) {
  .column.is-one-quarter img {
    width: 100%;
    margin-bottom: 7rem;
  }
}
