:root {
  /* --variable-name: variableValue; */
  /* background-color: var(--oxford-blue) */

  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --imperial-red: #ef233cff;
  --amaranth-red: #d90429ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
}

/*.wrapper-main {
  margin: 0 auto;
  width: 1200px;
}*/

main {
  background-color: var(--black);
  height: 100vh;
}

/* navbar style - start here */

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url(../images/photo-1536440136628-849c177e76a1.jpg);
  max-width: 100%;
  height: auto;
  background-position: center;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url(../images/photo-1536440136628-849c177e76a1.jpg);
  color: var(--platinum);
  padding-top: 20px;
  padding-left: 8%;
  padding-right: 10%;
  padding-bottom: 20px;
  background-position: -100px -80px;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 24px;
  flex-wrap: wrap;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: var(--platinum);
  margin: 5px;
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.navbar-links a:hover {
  color: var(--amaranth-red);
  transition: 0.3s;
}

.logo {
  color: var(--platinum);
  font-size: 28px;
}

span {
  color: var(--amaranth-red);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--platinum);
  border-radius: 10px;
}

/* navbar style - end here */

/* movie searching section - start here */
.movie-searching-section {
  border: 1px solid var(--amaranth-red);
  height: 500px;
  margin-top: 50px;
}
/* movie searching section - end here */

/* recent movies section - start here */
.recent-movie-section {
  border: 1px solid var(--amaranth-red);
  height: 500px;
  margin-top: 50px;
}
/* recent movies section - end here */

/* responsive navbar - screen width 576px */
@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
