:root {
  /* --variable-name: variableValue; */
  /* background-color: var(--oxford-blue) */

  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --imperial-red: #ef233cff;
  --amaranth-red: #d90429ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
}

.main {
  background-color: var(--black);
  /* height: 100vh; */
  padding: 100px;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* navbar style - start here */

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url(../images/photo-1536440136628-849c177e76a1.jpg);
  max-width: 100%;
  height: auto;
  background-position: center;
}

.navbar {
  display: flex;
  align-items: center;

  /* justify-content: space-evenly; */
  background-color: var(--black);
  color: var(--platinum);
  padding-top: 3em;
  padding-left: 20px;
  width: 100%;
  height: 65px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-bottom: 2em;
  margin-top: 2em;
}

.logo {
  color: var(--platinum);
  font-size: 28px;
  /* padding-top: 20px;
  padding-bottom: 40px; */
}
.navbar-menu {
  background-color: var(--black);
  /* justify-content: flex-end; */
}

/* .navbar-burger{
  display: flex
      justify-content: flex-end;

} */

.navbar-menu .navbar-item {
  color: var(--platinum);
  font-size: 24px;
}

/* .navbar-menu:hover .navbar-item  {

} */

a {
  background-color: transparent;
  color: var(--platinum);
}

a.navbar-item:hover {
  background-color: transparent;
  color: var(--platinum);
}

span {
  color: var(--amaranth-red);
}

.control {
  padding: 5px;
}

/* Movie search results styling rules */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

body,
html {
  background: #000000;
  padding: 0;
  margin: 0;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.container {
  padding-bottom: 3rem;
  width: 80%;
}

.movie-page-container {
  margin-left: 5rem;
  padding-bottom: 3rem;
  width: 80%;
  justify-content: center;
}

.last {
  margin-top: 6.5rem;
}

.featured_wrapper {
  position: relative;
}

.featured_wrapper img {
  width: 100%;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

.title_wrapper {
  position: absolute;
  width: 100%;
  left: 2rem;
  bottom: 2rem;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.title_wrapper h1 {
  width: 70%;
}

/* button {
  background: #f40612 !important;
  color: #fff !important;
  font-size: 18px;
  padding: 0.5rem 3rem;
  outline: none;
  border: 0 !important;
} */

/* Start of styling for movie detail page */

#movie-title {
  padding-left: 0.5rem;
  padding-bottom: 3rem;
}

#movie-rating {
  padding-left: 0.5rem;
  /* padding-bottom: 3rem; */
  align-items: center;
}

#movie-synopsis {
  padding-left: 0.5rem;
}

#movie-page-hero-btn,
#favorite-btn {
  margin-top: 20px;
  padding-top: 20px;
}

#writers,
#director,
#stars {
  width: auto;
}

.movie-image {
  min-width: 100%;
  max-width: 100%;
  display: block;
  position: relative;
  height: 100%;
}

/* DO NOT DELETE THE COMMENTED OUT CODE BELOW - removing the transform: scale(1.2) line breaks the card layout - not sure why, will debug later - Faisal */
/* .movie-card-image:hover {
  cursor: pointer;
   /* look into easein-out-in instead to fix the animation */
/* transform: scale(1.2); */
/* look into the syntax for scaling animations */
/* animation: grow 0.5s ease-out; */
/* } */

/* start of movie search results card hover overlay styling rules */

.project {
  width: 100%;
  width: 45%;
  float: left;
}

.avatars {
  margin-top: 23px;
}

img {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.project__image {
  display: block;
  position: relative;
}

.project__image img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.project__image:after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  transition: opacity 0.3s ease;
  opacity: 0;
}

.project__card {
  position: relative;
  will-change: transform;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 10px 30px transparent;
}

.project__category {
  margin-top: 1.5em;
  opacity: 0;
  transition: 0.4s ease;
  transition-delay: 0.1s;
  -webkit-transform: translateY(40px) scale(0);
  -ms-transform: translateY(40px) scale(0);
  transform: translateY(40px) scale(0);
  will-change: transform;
  color: white;
}

.project__category a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3em;
}

/* .navbar-burger{

} */

/* Media Queries */

@media all and (min-width: 1025px) {
  .navbar-item:hover {
    border-width: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    font-size: 36px;
    font-weight: 700;
    transition: 0.4s ease;
    -webkit-transform: translateZ(30px);
    transform: translateZ(30px);
    border: 0 solid #00bcd4;
    transition: border 0.4s ease;
  }

  .project__detail {
    /* position:  */
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    -webkit-transform: translateZ(30px);
    transform: translateZ(30px);
    border: 0 solid #00bcd4;
    transition: border 0.4s ease;
  }

  .project__title {
    margin-top: 1.5em;
    /* margin: 0 0 10px; */
    font-size: 36px;
    font-weight: 700;
    transition: 0.4s ease;
    opacity: 0;
    -webkit-transform: translateY(40px) scale(0);
    -ms-transform: translateY(40px) scale(0);
    transform: translateY(40px) scale(0);
    will-change: transform;
    color: white;
  }

  .container img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .project__card.hover-in {
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }

  .project__card.hover-out {
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  }

  .project:hover .project__card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }

  .project:hover .project__image:after {
    opacity: 1;
  }

  .project:hover .project__detail {
    border-width: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }

  .project:hover .project__title,
  .project:hover .project__category {
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  img:hover {
    opacity: 0.6;
  }

  .movie-card-image {
    -webkit-box-reflect: below 5px
      linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

@media (max-width: 1024px) {
  .project__title {
    margin-top: 1rem;
    /* margin: 0 0 10px; */
    font-size: 16px;
    font-weight: 700;
    transition: 0.4s ease;
    color: white;
  }
}

.logo {
  color: var(--platinum);
  font-size: 28px;
  /* padding-top: 20px; */
  /* padding-bottom: 40px; */
}

.main {
  background-color: var(--black);
  height: 100vh;
  padding: 10px;
  /* margin:10px; */
  padding-top: 10px;
}

.navbar {
  display: flex;
  /* justify-content: space-evenly; */
  background-color: var(--black);
  color: var(--platinum);
  /* padding-top: 20px; */
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 65px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  /* * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
   } */

  .navbar {
    display: flex;
    /* justify-content: space-evenly; */
    background-color: var(--black);
    color: var(--platinum);
    /* padding-top: 20px; */
    padding-left: 20px;
    width: 100%;
    height: 65px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .main {
    background-color: var(--black);
    height: 100vh;
    padding: 10px;
    /* margin:10px; */
    padding-top: 10px;
  }

  .title_wrapper {
    text-align: center;
    left: 0;
  }
  .title_wrapper h1 {
    font-size: 32px !important;
    width: 100%;
  }

  /* .container {
    padding: 20px;
  } */

  .project__title,
  .project__category {
    opacity: 1;
    pointer-events: none;
    display: block;
  }

  .project:hover .project__title,
  .project:hover .project__category {
    pointer-events: none;
  }

  .project__detail {
    display: block;
    border-width: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    left: 30px;
    right: 30px;
    top: 10px;
    bottom: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    border: 0 solid #00bcd4;
    transition: border 0.4s ease;
  }

  .project__title {
    margin-top: 1rem;
    margin-bottom: 5rem;

    /* margin: 0 0 10px; */
    font-size: 36px;
    font-weight: 700;
    transition: 0.4s ease;
    color: white;
  }

  /* .search-results-container{

  }*/

  .logo {
    color: var(--platinum);
    font-size: 28px;
    /* padding-top: 20px; */
    /* padding-bottom: 40px; */
  }
}

@media (max-width: 480px) {
  /* * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
   } */

  .logo {
    color: var(--platinum);
    font-size: 28px;
    /* padding-top: 20px; */
    /* padding-bottom: 40px; */
  }

  .column.is-one-quarter img {
    width: 100%;
    /* margin-bottom: 7rem; */
  }

  .main {
    background-color: var(--black);
    height: 100vh;
    padding: 10px;
  }

  .project__detail {
    display: block;
    border-width: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    left: 30px;
    right: 30px;
    top: 10px;
    bottom: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    border: 0 solid #00bcd4;
    transition: border 0.4s ease;
  }

  .project__title {
    margin-top: 1rem;
    /* margin: 0 0 10px; */
    font-size: 36px;
    font-weight: 700;
    transition: 0.4s ease;
    color: white;
  }

  .project {
    pointer-events: none;
    width: 100%;
  }
}

.navbar {
  display: flex;
  /* justify-content: space-evenly; */
  background-color: var(--black);
  color: var(--platinum);
  /* padding-top: 20px; */
  padding-left: 20px;
  width: 100%;
  height: 65px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@keyframes fadeOut {
  0% {
    background-color: rgba(var(--dark-rgb), 1);
  }

  50% {
    background-color: rgba(var(--dark-rgb), 0.8);
  }

  100% {
    background-color: rgba(var(--dark-rgb), 0.6);
  }
}

/* the below keyframes aren't being used anywhere at the moment, can be removed before go live if desired */

/* @keyframes grow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  } 
} */
