:root {
  /* --variable-name: variableValue; */
  /* background-color: var(--oxford-blue) */

  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --imperial-red: #ef233cff;
  --amaranth-red: #d90429ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
}

main {
  background-color: var(--black);
  height: 100vh;
}

/* navbar style - start here */

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url(../images/photo-1536440136628-849c177e76a1.jpg);
  max-width: 100%;
  height: auto;
  background-position: center;
}

.navbar {
  background-color: var(--black);
  color: var(--platinum);
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  height: 65px;
  padding-right: 40px;
}
.navbar-menu {
  background-color: var(--black);
}
.navbar-menu .navbar-item {
  color: var(--platinum);
  font-size: 24px;
}
a.navbar-item:hover {
  background-color: transparent;
  color: var(--platinum);
}
.logo {
  color: var(--platinum);
  font-size: 28px;
}

span {
  color: var(--amaranth-red);
}
