:root {
  /* --variable-name: variableValue; */
  /* background-color: var(--oxford-blue) */

  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --imperial-red: #ef233cff;
  --amaranth-red: #d90429ff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
}

main {
  background-color: var(--black);
  height: 100vh;
  padding: 100px;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* navbar style - start here */

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url(../images/photo-1536440136628-849c177e76a1.jpg);
  max-width: 100%;
  height: auto;
  background-position: center;
}

.navbar {
  background-color: var(--black);
  color: var(--platinum);
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  height: 65px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.navbar-menu {
  background-color: var(--black);
}

.navbar-menu .navbar-item {
  color: var(--platinum);
  font-size: 24px;
}

a.navbar-item:hover {
  background-color: transparent;
  color: var(--platinum);
}

.logo {
  color: var(--platinum);
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 40px;
}

span {
  color: var(--amaranth-red);
}

.control {
  padding: 5px;
}

/* Movie search results styling rules */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

body,
html {
  background: #000000;
  padding: 0;
  margin: 0;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.container {
	padding-bottom: 3rem;
  width:80%;
}

.movie-card-image {
  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.last {
  margin-top: 6.5rem;
}

.featured_wrapper {
  position: relative;
}

.featured_wrapper img {
  width: 100%;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

.title_wrapper {
	position: absolute;
	width: 100%;
	left: 2rem;
	bottom: 2rem;
	padding: 20px 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.title_wrapper h1 {
	width: 70%;
}
button {
	background: #f40612 !important;
	color: #fff !important;
	font-size: 18px;
	padding: 0.5rem 3rem;
	outline: none;
	border: 0 !important;
}

/* Start of styling for movie detail page */

#movie-title{
  padding-left: 0.5rem;
  padding-bottom: 3rem;
}

#movie-synopsis{
  padding-left: 0.5rem;
}

#movie-page-hero-btn{
  margin-top:20px;
  padding-top: 20px;
}

$box-background-color


/* Start of styling for movie detail page (will probably be deleted once i'm done testing layouts - Faisal
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*, *:before, *:after {
  position: absolute;
  width: 100%;
  left: 2rem;
  bottom: 2rem;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.title_wrapper h1 {
  width: 70%;
}

button {
  background: #f40612 !important;
  color: #fff !important;
  font-size: 18px;
  padding: 0.5rem 3rem;
  outline: none;
  border: 0 !important;
}

/* DO NOT DELETE THE COMMENTED OUT CODE BELOW - Breaks the card layout - not sure why, will debug later - Faisal */
/* .movie-card-image:hover {
  cursor: pointer;
   /* look into easein-out-in instead to fix the animation */
/* transform: scale(1.2); */
/* look into the syntax for scaling animations */
/* animation: grow 0.5s ease-out; */
/* } */

/* .movie-card-image:hover .movie-info {
  display: block;
  animation: fadeOut 0.5s ease; */
/* } */

/* end of movie card hover - overlay rules attempt 1 */

/* start of movie card hover - overlay rules attempt 2 */
/* This class can be replaced using options */
/* .hover-in{
	transition: .3s ease-out;
}
.hover-out{
	transition: .3s ease-in;
} */

.project {
  width: 100%;
  width: 45%;
  float: left;
  margin-right: 5%;
}

.avatars {
  margin-top: 23px;
  
  img {
    cursor: pointer;
  }
  
  img:hover {
    opacity: 0.6;
  }
  
  a:hover {
    text-decoration: none;
  }
}

 /* star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/  */

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/
/* 
.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  margin-top: 0;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
} */

/***** CSS Magic to Highlight Stars on Hover *****/
/***** 
.rating > input:checked ~ label, /* show gold star when clicked */
/* .rating:not(:checked) > label:hover, hover current star */
/* .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } hover previous stars in list */

/* .rating > input:checked + label:hover, hover current star when changing rating */
/* .rating > input:checked ~ label:hover, */
/* .rating > label:hover ~ input:checked ~ label, lighten current selection */
/* .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }  */

/* //tooltip stuff via: https://codepen.io/peiche/pen/JaftA

a[data-tooltip] {
  position: relative;
}
a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}
a[data-tooltip]::before { */
  /*
   * using data-tooltip instead of title so we 
   * don't have the real tooltip overlapping
   */
  /* content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px; */
  /* we don't want the text to wrap */
  /* white-space: nowrap;
  text-decoration: none; */
/* }
a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}
.project__image {
  display: block;
  position: relative;
}

.project__image img {
  width: 100%;
  max-width: 100%;
  display: block;
} */

.project__image:after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  transition: opacity 0.3s ease;
  opacity: 0;
}

.project__card {
  position: relative;
  will-change: transform;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 10px 30px transparent;
}

.project__card.hover-in {
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.project__card.hover-out {
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.project:hover .project__card {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project:hover .project__image:after {
  opacity: 1;
}

.project:hover .project__detail {
  border-width: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project:hover .project__title,
.project:hover .project__category {
  -webkit-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
}

.project__detail {
  /* position:  */
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  -webkit-transform: translateZ(30px);
  transform: translateZ(30px);
  border: 0 solid #00bcd4;
  transition: border 0.4s ease;
}

.project__title {
  margin: 0 0 10px;
  font-size: 36px;
  font-weight: 700;
  transition: 0.4s ease;
  opacity: 0;
  -webkit-transform: translateY(40px) scale(0);
  -ms-transform: translateY(40px) scale(0);
  transform: translateY(40px) scale(0);
  will-change: transform;
  color: white;
}

.project__title a {
  color: white;
}

.project__category {
  opacity: 0;
  transition: 0.4s ease;
  transition-delay: 0.1s;
  -webkit-transform: translateY(40px) scale(0);
  -ms-transform: translateY(40px) scale(0);
  transform: translateY(40px) scale(0);
  will-change: transform;
  color: white;
}

.project__category a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3em;
}

/* Media Queries */

@media (max-width: 768px) {
  .title_wrapper {
    text-align: center;
    left: 0;
  }
  .title_wrapper h1 {
    font-size: 32px !important;
    width: 100%;
  }
  .container {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .column.is-one-quarter img {
    width: 100%;
    margin-bottom: 7rem;
  }

  .movie-card-image {
    transform: scale(0);
  }
}

@keyframes fadeOut {
  0% {
    background-color: rgba(var(--dark-rgb), 1);
  }

  50% {
    background-color: rgba(var(--dark-rgb), 0.8);
  }

  100% {
    background-color: rgba(var(--dark-rgb), 0.6);
  }
}

/* @keyframes grow {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  } */
/* } */
